<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque debitis officia, aliquid cupiditate autem temporibus officiis, fugit delectus magnam ducimus quod consectetur eos! Ab impedit ea tenetur incidunt libero laudantium porro error, fugiat recusandae soluta aspernatur consequuntur enim, voluptas voluptatum labore consectetur? Nemo, adipisci! Possimus temporibus ipsa delectus ea a.
    </p>
</body>
</html>